<a href="https://colab.research.google.com/github/titusnkumara/pythonII/blob/master/Numpy_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Using the library

import the numpy library, and rename the imported class as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np

#Why use numpy?

*   Numpy arrays are faster and efficient than python arrays
*   Numpy has built in functions useful for faster calculations
*   Many libraries use numpy arrays to improve the performance

#Create an array
The simplest way to create a numpy array is to type the values on the python scritp, however this is rarely used in practice

In [ ]:
myNPArray = np.array([1, 2, 3, 4, 5, 6])
print(myNPArray)

[1 2 3 4 5 6]

#Other ways to create numpy arrays
You can use already established python list and convert it to a numpy array

In [ ]:
pythonArray = [1,2,3,4,5,6,7,8,9,10]
convertedNPArray = np.array(pythonArray)
print(convertedNPArray)

[ 1  2  3  4  5  6  7  8  9 10]

#Operations with numpy arrays and a speed test
Lets assume we have a large dataset, and we want to multiply value by some number
We can create an array with numpy and python and do a speed comparison

In [ ]:
import time #time library to measure execution time

#make two data storage variables for numpy and python 
pythonList100000000 = list(range(1,100000001))
print(len(pythonList100000000))

numpyArray100000000 = np.arange(1,100000001)
print(len(numpyArray100000000))

multiplyNumber = 3

#measure the time it takes to multiply each value

t1 = time.time()
out1 = [multiplyNumber*x for x in pythonList100000000]
t2 = time.time()
timediffPython = t2-t1
print(timediffPython)

#now measure how much time it takes for numpy to do the same task
t1 = time.time()
out2 = numpyArray100000000 * multiplyNumber
t2 = time.time()
timediffNumpy = t2-t1
print(timediffNumpy)

print("Numpy is {} times faster than a python list".format(timediffPython/timediffNumpy ))

100000000
100000000
12.148085355758667
0.22734975814819336
Numpy is 53.43346504833395 times faster than a python list

Now, since we have firsthand know numpy has a big performance advantage over standard python lists, we will learn more operations we can do with numpy

#Basic operations with numpy

In [ ]:
#read an array from a file
class1data = np.loadtxt("/content/drive/MyDrive/Colab Notebooks/class1.csv", dtype=float,skiprows=1)
class2data = np.loadtxt("/content/drive/MyDrive/Colab Notebooks/class2.csv", dtype=float,skiprows=1)
print(len(class1data))
print(len(class2data))


print(max(class1data))
print(max(class2data))

50
50
100.0
99.0

Lets see if we can sort the class 1 results

In [ ]:
sortedClass1 = np.sort(class1data);
print(sortedClass1)

[  3.   8.  13.  14.  15.  18.  21.  22.  24.  27.  30.  33.  35.  37.
  39.  40.  40.  40.  40.  43.  44.  48.  50.  52.  56.  57.  58.  59.
  60.  60.  62.  63.  65.  72.  72.  73.  74.  79.  81.  82.  82.  82.
  83.  84.  91.  93.  94.  97.  98. 100.]

We can do the same for the class 2 results

In [ ]:
sortedClass2 = np.sort(class2data);
print(sortedClass2)

[ 0.  0.  1.  3.  3.  4.  6.  7.  9. 13. 15. 16. 16. 19. 19. 21. 26. 29.
 30. 30. 32. 35. 36. 37. 37. 40. 40. 46. 48. 49. 55. 57. 58. 58. 59. 64.
 67. 71. 72. 74. 75. 76. 78. 84. 92. 95. 97. 98. 99. 99.]

With this sorted array, we can do some interesting comparisons. Lets say our pass mark is 50. Can we find how many students have passed?

In [ ]:
Cl1Passed = sortedClass1 >= 50 # this will give us an true false array
print(Cl1Passed)
Cl1PassedSum = Cl1Passed.sum(); # find total pass students
Cl1FailedSum = sortedClass1.size - Cl1PassedSum
print("Passed: ",Cl1PassedSum)
print("Failed: ",Cl1FailedSum)

[False False False False False False False False False False False False
 False False False False False False False False False False  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True]
Passed:  28
Failed:  22

Then, lets say you want to display all failed students, you can achieve the same with a sorted array or non-sorted array
For sorted array, its easy because we just want to cut the class in two sections

In [ ]:
failedCl1Array = sortedClass1[0:Cl1FailedSum]
print(failedCl1Array)

[ 3.  8. 13. 14. 15. 18. 21. 22. 24. 27. 30. 33. 35. 37. 39. 40. 40. 40.
 40. 43. 44. 48.]

The other way of finding out students satisfying a codition doesn't require a sorted array
For example, from the original unsorted array, lests find out students who scored 50 or more

In [ ]:
passedindexes1 = class1data>=50 # this will compare the condition elementwise and give us an array 
print(passedindexes1)

[ True  True  True  True  True  True  True False  True  True False False
 False False False False False  True False  True  True  True False False
  True  True False False False  True  True False  True  True False  True
 False False  True  True  True False False False  True  True  True  True
 False  True]

Then, we can use this true/false index array to select the elements from the original array

In [ ]:
print(class1data) #original array
print(passedindexes1)
print(class1data[passedindexes1])

[ 82.  98.  84.  97.  83.  72.  91.   3.  62.  60.  48.  35.  30.  40.
  15.  22.  40.  72.  13.  73.  60. 100.   8.  21.  65.  94.  44.  24.
  27.  63.  82.  33.  56.  81.  18.  79.  40.  14.  50.  82.  74.  40.
  43.  37.  59.  52.  93.  58.  39.  57.]
[ True  True  True  True  True  True  True False  True  True False False
 False False False False False  True False  True  True  True False False
  True  True False False False  True  True False  True  True False  True
 False False  True  True  True False False False  True  True  True  True
 False  True]
[ 82.  98.  84.  97.  83.  72.  91.  62.  60.  72.  73.  60. 100.  65.
  94.  63.  82.  56.  81.  79.  50.  82.  74.  59.  52.  93.  58.  57.]

As you can see above, the true, false array work as indexes and we can easily select elements satisfying a condition
This could be extended in many ways

In [ ]:
print(">90 students ",class1data[class1data>90])#print students who got more than 90
print("45-55 students ",class1data[np.logical_and((class1data>45),(class1data<55))])#print students marks between 45-55, take two arrays and take the logical and

>90 students  [ 98.  97.  91. 100.  94.  93.]
45-55 students  [48. 50. 52.]

Now lets write a quick loop to group students with different mark regions

In [ ]:
markCutoffs = [35,50,65,75,85,100]
tmpClass1Data = np.array(class1data, copy=True)  
for cutoff in markCutoffs:
  indexes = tmpClass1Data>=cutoff
  aboveCutoff = tmpClass1Data[indexes]
  belowCutoff = tmpClass1Data[np.logical_not(indexes)]
  print("<",cutoff," ",np.sort(belowCutoff)," sum = ",len(belowCutoff))
  tmpClass1Data = aboveCutoff

< 35   [ 3.  8. 13. 14. 15. 18. 21. 22. 24. 27. 30. 33.]  sum =  12
< 50   [35. 37. 39. 40. 40. 40. 40. 43. 44. 48.]  sum =  10
< 65   [50. 52. 56. 57. 58. 59. 60. 60. 62. 63.]  sum =  10
< 75   [65. 72. 72. 73. 74.]  sum =  5
< 85   [79. 81. 82. 82. 82. 83. 84.]  sum =  7
< 100   [91. 93. 94. 97. 98.]  sum =  5

#Currupted or not available data

Lets say, class2 data is tentative for three student, we can mark these students as np.nan which is a way to tell numpy thate these are not a numbers

In [ ]:
class2data[[5,8,20]] = np.nan #we are using multiple indexes to assign a value
#now 5th, 8th, and 20th student doesn't have valid numbers
print(class2data)

[ 0. 99. 98. 97.  3. nan 40. 37. nan  1. 40. 58. 13. 57. 92. 19. 71.  3.
  4. 78. nan 36. 84. 15. 49. 75.  6. 37. 99. 67. 19. 46. 59. 35. 30. 74.
 55. 30. 95. 29.  7. 26. 72. 16.  9. 76. 21. 32. 16. 64.]

Now lets see what happen if we get the class average

In [ ]:
np.average(class2data) #the output is also a not-a-number because we try to do mathematical operations with nan

nan

To deal with this kind of situations, we can use numpy mask

In [ ]:
maskedCl2 = np.ma.masked_invalid(class2data)
print(class2data)
print(maskedCl2)
print(np.average(maskedCl2)) #the size of the array doesn't change, but with masked arrays we can avoid invalid data causing problems

[ 0. 99. 98. 97.  3. nan 40. 37. nan  1. 40. 58. 13. 57. 92. 19. 71.  3.
  4. 78. nan 36. 84. 15. 49. 75.  6. 37. 99. 67. 19. 46. 59. 35. 30. 74.
 55. 30. 95. 29.  7. 26. 72. 16.  9. 76. 21. 32. 16. 64.]
[0.0 99.0 98.0 97.0 3.0 -- 40.0 37.0 -- 1.0 40.0 58.0 13.0 57.0 92.0 19.0
 71.0 3.0 4.0 78.0 -- 36.0 84.0 15.0 49.0 75.0 6.0 37.0 99.0 67.0 19.0
 46.0 59.0 35.0 30.0 74.0 55.0 30.0 95.0 29.0 7.0 26.0 72.0 16.0 9.0 76.0
 21.0 32.0 16.0 64.0]
44.4468085106383

In [ ]:
#we can get more details for masked array

print("masked array indexes ",np.flatnonzero(maskedCl2.mask))

masked array indexes  [ 5  8 20]

This shows that we have non-zero values on the masked array at these points, indicating we have 3 nan values, and places