<a href="https://colab.research.google.com/github/kts-desilva/pythonII/blob/master/sec_numpy/numpy_exercises_set1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Section 01: Creating, Reading and Writing නිර්මාණය කිරීම, කියවීම සහ ලිවීම**

Let's import Numpy library.

In [ ]:
import numpy as np

Let's load the necessary datasets

In [ ]:
class1_data_path = "https://raw.githubusercontent.com/GPrathap/pythonII/master/dataset/class_list/class1_marks.csv"
class2_data_path = "https://raw.githubusercontent.com/GPrathap/pythonII/master/dataset/class_list/class2_marks.csv"

In [ ]:
#read an array from a file
class1_data = np.loadtxt(class1_data_path, dtype=float, skiprows=1)
class2_data = np.loadtxt(class2_data_path, dtype=float, skiprows=1)

#Exercise 1: Simple array creation

**Question 01**

Create an array contains numbers in ascending order 1 to 10 and descending order 10:1
The array should look like [1...10...1]

There are many ways to achieve this task. Using np.arange() and np.concatenate() is a good way to do this

**Answer**

In [ ]:
ar1 = np.arange(1,10);
ar2 = np.arange(10,0,-1)
ar_final = np.concatenate((ar1,ar2),axis=0)
print(ar1)
print(ar2)
print(ar_final)

[1 2 3 4 5 6 7 8 9]
[10  9  8  7  6  5  4  3  2  1]
[ 1  2  3  4  5  6  7  8  9 10  9  8  7  6  5  4  3  2  1]

**Question 02**

Create an array with 10 zeros as its elements and determine its memory size.

**Answer**

In [ ]:
ar = np.zeros(10)
print(ar)
print("%d bytes" % (ar.size * ar.itemsize))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
80 bytes

**Question 03**

Create an array with 20 random values and find the maximum, minium, and mean values of the array.

**Answer**

In [ ]:
ar = np.random.random((20))

print('Max: ' , ar.max())
print('Min: ' , ar.min())
print('Mean: ' , ar.mean())

Max:  0.9668011762109312
Min:  0.02062162844139115
Mean:  0.525745633287577

**Question 04**

Create an array with evenly spaced with o.5 over a the interval (2,6)

In [ ]:
ar = np.linspace(2,6,9)
print(ar)

[2.  2.5 3.  3.5 4.  4.5 5.  5.5 6. ]

**Question 05**

Create a checkborad representation of an array 5 x 5 as shown in the following image using a single function.

*Hint:* Use tile function
![checkboard.png]()

In [ ]:
ar = np.tile(np.array([[1,0],[0,1]]),(3,3))
print(ar)

[[1 0 1 0 1 0]
 [0 1 0 1 0 1]
 [1 0 1 0 1 0]
 [0 1 0 1 0 1]
 [1 0 1 0 1 0]
 [0 1 0 1 0 1]]

# Exercise 2: Array shape and dimension

**Quesion 01**

Convert the following 1-D array with 12 elements into a 3-D array.

**Hint:** *The new array should contain 3 rows*

In [ ]:
ar = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

**Answer**

In [ ]:
ar_final = ar.reshape(3,4)
print(ar_final)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

**Question 02**

Reshape the following array which has the shape (6,) to (6,1)

**Hint:** *Try to use Numpy newaxis function*

In [ ]:
ar = np.array([10, 50, 15, 59, 5, 42])
print(ar.shape)

(6,)

**Answer**

In [ ]:
ar_final = ar[:, np.newaxis]
print(ar_final.shape)

(6, 1)

**Question 03**

Consider a (6,8,10) shaped array and find the inidies in (x,y,z) format of the 100th element.

**Answer**

In [ ]:
index =np.unravel_index(100, (6,8,9))

print('Index: ', index)

Index:  (1, 3, 1)

**Question 04**

Consider an array of shape (5,5,3) where each array element equals to 1. Show how to multiply this array with a array of shape (5,5) where each array element equals to 5.

**Answer**

In [ ]:
ar1 = np.ones((5,5,3))
ar2 = 5 * np.ones((5,5))
ar3= ar1 * ar2[:,:,None]

print(ar3)

[[[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]]

**Question 05**

Consider the following four dimensions array, compute the total over the last two axis.

```
ar = np.random.randint(0,10,(3,4,3,4))
```

**Answer**

In [ ]:
ar = np.random.randint(0,10,(3,4,3,4))
total = ar.reshape(ar.shape[:-2] + (-1,)).sum(axis=-1)

print("Array:\n", ar)
print("Total over the last two axis:\n", total)

Array:
 [[[[2 5 8 6]
   [4 4 0 7]
   [2 5 8 2]]

  [[3 5 5 7]
   [2 6 4 0]
   [9 7 6 6]]

  [[6 6 7 4]
   [7 3 0 4]
   [2 1 2 1]]

  [[0 5 0 4]
   [3 1 7 6]
   [6 2 0 7]]]


 [[[1 6 7 2]
   [5 8 5 8]
   [4 1 8 1]]

  [[2 3 2 4]
   [4 9 4 0]
   [9 2 3 2]]

  [[5 5 7 8]
   [4 4 9 4]
   [9 6 8 8]]

  [[1 3 9 7]
   [0 2 2 9]
   [8 1 6 2]]]


 [[[2 2 8 9]
   [2 5 8 3]
   [2 7 5 4]]

  [[0 3 2 9]
   [7 0 4 1]
   [4 3 5 8]]

  [[0 5 4 6]
   [7 1 3 5]
   [7 9 7 8]]

  [[9 3 8 2]
   [9 2 8 9]
   [6 7 1 6]]]]
Total over the last two axis:
 [[53 60 43 41]
 [56 44 77 50]
 [57 46 62 70]]

# Exercise 3: Array splicing and staking

**Question 1:**

**Part 1**

Calculate the z-score for the class 1 marks.

z score = (student mark - mean of the marks) / standard diviation

**Answer**

In [ ]:
class1_mean = np.mean(class1_data)
class1_standard_diviation = np.std(class1_data)

class1_zscore = (class1_data - class1_mean) / class1_standard_diviation
class1_zscore = class1_zscore.round(2)

print(class1_zscore)

[ 1.05  1.65  1.12  1.61  1.08  0.67  1.39 -1.93  0.29  0.22 -0.24 -0.73
 -0.92 -0.54 -1.48 -1.22 -0.54  0.67 -1.56  0.71  0.22  1.73 -1.74 -1.25
  0.41  1.5  -0.39 -1.14 -1.03  0.33  1.05 -0.8   0.07  1.01 -1.37  0.93
 -0.54 -1.52 -0.16  1.05  0.74 -0.54 -0.42 -0.65  0.18 -0.09  1.46  0.14
 -0.58  0.1 ]

Merge the two arrays of the student marks to a single array which should show the student marks as follows.

**Answer**

In [ ]:
arr1 = ['student_mark', 'student_zscore']
print(arr1)

['student_mark', 'student_zscore']

**Answer**

In [ ]:
class1_completed_data = np.column_stack((class1_data, class1_zscore))
print(class1_completed_data)

[[ 8.20e+01  1.05e+00]
 [ 9.80e+01  1.65e+00]
 [ 8.40e+01  1.12e+00]
 [ 9.70e+01  1.61e+00]
 [ 8.30e+01  1.08e+00]
 [ 7.20e+01  6.70e-01]
 [ 9.10e+01  1.39e+00]
 [ 3.00e+00 -1.93e+00]
 [ 6.20e+01  2.90e-01]
 [ 6.00e+01  2.20e-01]
 [ 4.80e+01 -2.40e-01]
 [ 3.50e+01 -7.30e-01]
 [ 3.00e+01 -9.20e-01]
 [ 4.00e+01 -5.40e-01]
 [ 1.50e+01 -1.48e+00]
 [ 2.20e+01 -1.22e+00]
 [ 4.00e+01 -5.40e-01]
 [ 7.20e+01  6.70e-01]
 [ 1.30e+01 -1.56e+00]
 [ 7.30e+01  7.10e-01]
 [ 6.00e+01  2.20e-01]
 [ 1.00e+02  1.73e+00]
 [ 8.00e+00 -1.74e+00]
 [ 2.10e+01 -1.25e+00]
 [ 6.50e+01  4.10e-01]
 [ 9.40e+01  1.50e+00]
 [ 4.40e+01 -3.90e-01]
 [ 2.40e+01 -1.14e+00]
 [ 2.70e+01 -1.03e+00]
 [ 6.30e+01  3.30e-01]
 [ 8.20e+01  1.05e+00]
 [ 3.30e+01 -8.00e-01]
 [ 5.60e+01  7.00e-02]
 [ 8.10e+01  1.01e+00]
 [ 1.80e+01 -1.37e+00]
 [ 7.90e+01  9.30e-01]
 [ 4.00e+01 -5.40e-01]
 [ 1.40e+01 -1.52e+00]
 [ 5.00e+01 -1.60e-01]
 [ 8.20e+01  1.05e+00]
 [ 7.40e+01  7.40e-01]
 [ 4.00e+01 -5.40e-01]
 [ 4.30e+01 -4.20e-01]
 [ 3.70e+01 -6.50e-01]
 [ 5.90e+01  1.80e-01]
 [ 5.20e+01 -9.00e-02]
 [ 9.30e+01  1.46e+00]
 [ 5.80e+01  1.40e-01]
 [ 3.90e+01 -5.80e-01]
 [ 5.70e+01  1.00e-01]]

# Exercise 4: Numpy Operations

**Question 1:**

Create an integer array contianing numbers from 0 to 10. Negate all elements which are between 5 and 8.

**Answer**

In [ ]:
ar = np.arange(11)
print ("Before negation: ", ar)
ar[(ar > 5) & (ar <= 8)] *= -1

print ("After negation elements between 5 and 8: ",ar)

Before negation:  [ 0  1  2  3  4  5  6  7  8  9 10]
After negation elements between 5 and 8:  [ 0  1  2  3  4  5 -6 -7 -8  9 10]

**Question 2:**

Consider a list which contains (name, height, age) in order as follows.

```
values = [('Nimal', 1.8, 17), ('Sunil', 1.9, 20), ('Kamal', 1.5, 14)]
```

Sort the array by,
1.   Age
2.   Height
3.   Name

**Answer**

In [ ]:
values = [('Nimal', 1.8, 15), ('Bimal', 1.9, 20), ('Kamal', 1.5, 16)]
data_type = [('name', 'S10'), ('height', float), ('age', int)]

ar = np.array(values, dtype=data_type)

print("Sorted by Age: ", np.sort(ar, order='age'))
print("Sorted by Height: ", np.sort(ar, order='height'))
print("Sorted by Name: ", np.sort(ar, order='name'))

Sorted by Age:  [(b'Nimal', 1.8, 15) (b'Kamal', 1.5, 16) (b'Bimal', 1.9, 20)]
Sorted by Height:  [(b'Kamal', 1.5, 16) (b'Nimal', 1.8, 15) (b'Bimal', 1.9, 20)]
Sorted by Name:  [(b'Bimal', 1.9, 20) (b'Kamal', 1.5, 16) (b'Nimal', 1.8, 15)]

**Question 03**

Create two matrices of 5 x 5 with random values and find the diagonal of the dot product of the two matrices.

**Answer**

In [ ]:
ar1 = np.random.uniform(0,1,(5,5))
ar2 = np.random.uniform(0,1,(5,5))
 
np.diag(np.dot(ar1, ar2))

array([1.07823497, 1.83638609, 1.2854461 , 1.87389773, 1.05407054])

**Question 04**

Convert the following numpy array of numbers(in the integer format) into a matrix binary representation.

**Answer**

In [ ]:
ar = np.array([0, 1, 2, 3, 15, 16, 32, 64, 128])
ar_binary = ((ar.reshape(-1,1) & (2**np.arange(8))) != 0).astype(int)
print(ar_binary[:,::-1])

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

**Question 05**

Consider a set lines represented by **P0**, another lines by **P1** and set of points p. Calculate the distance from a point **p** to the lines deferred by P1[i],P2[i].

```
P1 = [[-6.65234822  7.29407315]
 [-0.39227634  7.46389674]
 [ 5.3972054   3.70579674]
 [-7.71451791  6.72104954]
 [ 3.51601057 -2.89371416]
 [ 4.25237431  4.66922892]
 [ 8.65118668  3.16739356]
 [ 4.8544455  -1.67275607]
 [ 7.49377183 -2.27592545]
 [ 0.39570436  1.18569584]]
```

```
P2 = [[ 9.5042512  -3.29633941]
 [ 2.80450518  5.33171717]
 [-4.77061428  8.75163711]
 [-8.70106348  5.39617521]
 [ 3.06280994  6.88184573]
 [ 9.21677584 -0.06165679]
 [ 2.35533685 -3.0089765 ]
 [-5.08348815  7.6611443 ]
 [ 0.03453605 -2.52238159]
 [ 8.30787282 -0.88402002]]
```

```
P = [[6.67872642 7.88836618]]
```

**Hint:**

The equation of a line defined through two points P1 (x1,y1) and P2 (x2,y2) is

P = P1 + u (P2 - P1)

![distance (1).png]()

**Answer**

The point P3 (x3,y3) is closest to the line at the tangent to the line which passes through P3, that is, the dot product of the tangent and line is 0, thus

(P3 - P) dot (P2 - P1) = 0

Substituting the equation of the line gives

[P3 - P1 - u(P2 - P1)] dot (P2 - P1) = 0

Solving this gives the value of u

![pointline2.gif]()

Substituting this into the equation of the line gives the point of intersection (x,y) of the tangent as

x = x1 + u (x2 - x1)
y = y1 + u (y2 - y1)

The distance therefore between the point P3 and the line is the distance between (x,y) above and P3.

In [ ]:
P1 = np.stack([[-6.65234822 , 7.29407315],[-0.39227634 , 7.46389674],[ 5.3972054  , 3.70579674],[-7.71451791,  6.72104954],[ 3.51601057, -2.89371416],
      [ 4.25237431 , 4.66922892], [ 8.65118668 , 3.16739356], [ 4.8544455 , -1.67275607], [ 7.49377183, -2.27592545], [ 0.39570436,  1.18569584]])

P2 = np.stack([[ 9.5042512 , -3.29633941],[ 2.80450518 , 5.33171717],[-4.77061428 , 8.75163711],[-8.70106348,  5.39617521],[ 3.06280994,  6.88184573],
      [ 9.21677584 ,-0.06165679], [ 2.35533685 ,-3.0089765 ], [-5.08348815, 7.6611443 ], [ 0.03453605, -2.52238159], [ 8.30787282, -0.88402002]])

p = np.array([[6.67872642 ,7.88836618]])

point_distance = P2 - P1
norm = (point_distance**2).sum(axis=1)

u =  -((P1[:,0] - p[...,0]) * point_distance[:,0] + (P1[:,1] - p[...,1]) * point_distance[:,1] ) / norm

u = u.reshape(len(u),1)
distance = P1 + u*point_distance - p
distance = np.sqrt((distance**2).sum(axis=1))

print(distance)

[ 7.80525085  4.2766795   4.31627071 10.84709522  3.65864969  4.00430445
  4.75137178  8.21812951 10.18566289  8.07453453]