<a href="https://colab.research.google.com/github/kts-desilva/pythonII/blob/master/sec_numpy/numpy_exercises_set1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise Set 1 : Numpy Operations Numpy මෙහෙයුම්

# **Section 01: Creating, Reading and Writing නිර්මාණය කිරීම, කියවීම සහ ලිවීම**

Let's import Numpy library.

In [ ]:
import numpy as np

Let's load the necessary datasets

අවශ්‍ය දත්ත කට්ටල බාගත කරමු.

In [ ]:
class1_data_path = "https://raw.githubusercontent.com/GPrathap/pythonII/master/dataset/class_list/class1_marks.csv"
class2_data_path = "https://raw.githubusercontent.com/GPrathap/pythonII/master/dataset/class_list/class2_marks.csv"

In [ ]:
#read an array from a file
class1_data = np.loadtxt(class1_data_path, dtype=float, skiprows=1)
class2_data = np.loadtxt(class2_data_path, dtype=float, skiprows=1)

#Exercise 1: Simple array creation සරල array සාදන ආකාරය
**Question 01**

Create an array containing numbers in ascending order 1 to 10 and descending order 10 to 1.
The array should look like [1...10...1]

පහත ආකාරයට එකේ සිට දහය දක්වා ආරෝහන වන පරිදි සහ දහය සිට එක ආරෝහණ වන පරිදි  array සකස් කරන්න.

There are many ways to achieve this task. Using np.arange() and np.concatenate() is a good way to do this.

ගැටලුව විවිධාකාරයට විසදිය හැක මගින් np.arange() සහ np.concatenate() වඩාත්හො හොඳින් මෙම ගැටලුව විසඳීමට හැකියාව ඇත.

**Answer**

In [ ]:
ar1 = np.arange(1,10);
ar2 = np.arange(10,0,-1)
ar_final = np.concatenate((ar1,ar2),axis=0)
print(ar1)
print(ar2)
print(ar_final)

[1 2 3 4 5 6 7 8 9]
[10  9  8  7  6  5  4  3  2  1]
[ 1  2  3  4  5  6  7  8  9 10  9  8  7  6  5  4  3  2  1]

**Question 02**

Create an array with 10 zeros as its elements and determine its memory size.

බිංදු 10ක් සහිත array සකස් කරන්න. එම array හි  මතකයේ ගන්නා ඉඩ ප්‍රමාණය සොයන්න.

**Answer**

In [ ]:
ar = np.zeros(10)
print(ar)
print("%d bytes" % (ar.size * ar.itemsize))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
80 bytes

**Question 03**

Create an array with 20 random values and find the maximum, minium, and mean values of the array.

අහඹු ලෙසු ලෙස තෝරාගත් අංක 20 කින් සමන්විත array එකක් සාදා එහි උපරිම, අවම මධ්‍යනය ගණනය කරන්න.

**Answer**

In [ ]:
ar = np.random.random((20))

print('Max: ' , ar.max())
print('Min: ' , ar.min())
print('Mean: ' , ar.mean())

Max:  0.9668011762109312
Min:  0.02062162844139115
Mean:  0.525745633287577

**Question 04**

Create an array with evenly spaced with 0.5 over a the interval (2,6).

2ත් 6ත් අතර 0.5 පරතරය තිබෙන පරිදි සංඛ්‍යා සමන්විත වන array එකක් සකස් කරන්න.

In [ ]:
ar = np.linspace(2,6,9)
print(ar)

[2.  2.5 3.  3.5 4.  4.5 5.  5.5 6. ]

**Question 05**

Create a checkborad representation of an array 5 x 5 as shown in the following image using a single function.

පහත රූපයේ දැක්වෙන පරිදි 5 x 5 ප්‍රමාණාත්මකව array එකක් සකස් කරන්න.

*Hint:* Use tile function

ඉඟිය: මෙහෙයුම යොදාගන්න
![checkboard.png]()

In [ ]:
ar = np.tile(np.array([[1,0],[0,1]]),(3,3))
print(ar)

[[1 0 1 0 1 0]
 [0 1 0 1 0 1]
 [1 0 1 0 1 0]
 [0 1 0 1 0 1]
 [1 0 1 0 1 0]
 [0 1 0 1 0 1]]

# Exercise 2: Array shape and dimension හැඩය සහ මානය

**Quesion 01**

Convert the following 1-D array with 12 elements into a 3-D array.

පහත 1D array and 2d array එකක් බවට පත් කරන්න.

**Hint:** *The new array should contain 3 rows*

ඉඟිය: අලුත් array පේලි තුනකින් සමන්විත විය යුතුය.

In [ ]:
ar = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

**Answer**

In [ ]:
ar_final = ar.reshape(3,4)
print(ar_final)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

**Question 02**

Reshape the following array which has the shape (6,) to (6,1)

පහත (6,) array එක (6,1) එක බවට හරවන්න.

**Hint:** *Try to use Numpy newaxis function*

ඉඟිය: Numpy newaxis මෙහෙයුම භාවිත කරන්න.

In [ ]:
ar = np.array([10, 50, 15, 59, 5, 42])
print(ar.shape)

(6,)

**Answer**

In [ ]:
ar_final = ar[:, np.newaxis]
print(ar_final.shape)

(6, 1)

**Question 03**

Consider a (6,8,10) shaped array and find the inidies in (x,y,z) format of the 100th element.

(6, 8, 10) එක සලකන්න. එහි 100 වෙනි අයිතමහි ඛණ්ඩාංක (x,y,z) ආකාරයෙන් දක්වන්න.

**Answer**

In [ ]:
index =np.unravel_index(100, (6,8,9))

print('Index: ', index)

Index:  (1, 3, 1)

**Question 04**

Consider an array of shape (5,5,3) where each array element equals to 1. Show how to multiply this array with a array of shape (5,5) where each array element equals to 5.

සෑම අයිතියක්ම 1 වන (5,5,3) array සලකන්න. මෙම array එක සෑම අයිතම 5 වන (5,5) array එකකින් ගුණ කරන්නේ කෙසේදැයි පෙන්වන්න.

**Answer**

In [ ]:
ar1 = np.ones((5,5,3))
ar2 = 5 * np.ones((5,5))
ar3= ar1 * ar2[:,:,None]

print(ar3)

[[[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]

 [[5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]
  [5. 5. 5.]]]

**Question 05**

Consider the following four dimensions array, compute the total over the last two axis.

පහත මානය හතර array එක සලකන්න. එහි අවසාන අක්ෂ දෙකෙහි එකතුව ගණනය කරන්න.

```
ar = np.random.randint(0,10,(3,4,3,4))
```

**Answer**

In [ ]:
ar = np.random.randint(0,10,(3,4,3,4))
total = ar.reshape(ar.shape[:-2] + (-1,)).sum(axis=-1)

print("Array:\n", ar)
print("Total over the last two axis:\n", total)

Array:
 [[[[2 5 8 6]
   [4 4 0 7]
   [2 5 8 2]]

  [[3 5 5 7]
   [2 6 4 0]
   [9 7 6 6]]

  [[6 6 7 4]
   [7 3 0 4]
   [2 1 2 1]]

  [[0 5 0 4]
   [3 1 7 6]
   [6 2 0 7]]]


 [[[1 6 7 2]
   [5 8 5 8]
   [4 1 8 1]]

  [[2 3 2 4]
   [4 9 4 0]
   [9 2 3 2]]

  [[5 5 7 8]
   [4 4 9 4]
   [9 6 8 8]]

  [[1 3 9 7]
   [0 2 2 9]
   [8 1 6 2]]]


 [[[2 2 8 9]
   [2 5 8 3]
   [2 7 5 4]]

  [[0 3 2 9]
   [7 0 4 1]
   [4 3 5 8]]

  [[0 5 4 6]
   [7 1 3 5]
   [7 9 7 8]]

  [[9 3 8 2]
   [9 2 8 9]
   [6 7 1 6]]]]
Total over the last two axis:
 [[53 60 43 41]
 [56 44 77 50]
 [57 46 62 70]]

# Exercise 3: Array splicing and staking Array මෙහෙයුම්

**Question 1:**

**Part 1**

Calculate the z-score for the class 1 marks.

පළමු පන්තිය ශිෂ්‍යන්ගේ z ලකුණු ගණනය කරන්න.

z score = (student mark - mean of the marks) / standard diviation

z ලකුණු = (සිසුවා ගේ ලකුණු - ලකුණු මධ්‍යනය) / සම්මත අපගමනය

**Answer**

In [ ]:
class1_mean = np.mean(class1_data)
class1_standard_diviation = np.std(class1_data)

class1_zscore = (class1_data - class1_mean) / class1_standard_diviation
class1_zscore = class1_zscore.round(2)

print(class1_zscore)

[ 1.05  1.65  1.12  1.61  1.08  0.67  1.39 -1.93  0.29  0.22 -0.24 -0.73
 -0.92 -0.54 -1.48 -1.22 -0.54  0.67 -1.56  0.71  0.22  1.73 -1.74 -1.25
  0.41  1.5  -0.39 -1.14 -1.03  0.33  1.05 -0.8   0.07  1.01 -1.37  0.93
 -0.54 -1.52 -0.16  1.05  0.74 -0.54 -0.42 -0.65  0.18 -0.09  1.46  0.14
 -0.58  0.1 ]

Merge the two arrays of the student marks to a single array which should show the student marks as follows.

සිසුන්ගෙන් ගේ ලකුණු සහ z අගයන් සහිත array පහත ආකාරයට එකට එකතු කරන්න.

```
['student_mark', 'student_zscore']
```

**Answer**

In [ ]:
class1_completed_data = np.column_stack((class1_data, class1_zscore))
print(class1_completed_data)

[[ 8.20e+01  1.05e+00]
 [ 9.80e+01  1.65e+00]
 [ 8.40e+01  1.12e+00]
 [ 9.70e+01  1.61e+00]
 [ 8.30e+01  1.08e+00]
 [ 7.20e+01  6.70e-01]
 [ 9.10e+01  1.39e+00]
 [ 3.00e+00 -1.93e+00]
 [ 6.20e+01  2.90e-01]
 [ 6.00e+01  2.20e-01]
 [ 4.80e+01 -2.40e-01]
 [ 3.50e+01 -7.30e-01]
 [ 3.00e+01 -9.20e-01]
 [ 4.00e+01 -5.40e-01]
 [ 1.50e+01 -1.48e+00]
 [ 2.20e+01 -1.22e+00]
 [ 4.00e+01 -5.40e-01]
 [ 7.20e+01  6.70e-01]
 [ 1.30e+01 -1.56e+00]
 [ 7.30e+01  7.10e-01]
 [ 6.00e+01  2.20e-01]
 [ 1.00e+02  1.73e+00]
 [ 8.00e+00 -1.74e+00]
 [ 2.10e+01 -1.25e+00]
 [ 6.50e+01  4.10e-01]
 [ 9.40e+01  1.50e+00]
 [ 4.40e+01 -3.90e-01]
 [ 2.40e+01 -1.14e+00]
 [ 2.70e+01 -1.03e+00]
 [ 6.30e+01  3.30e-01]
 [ 8.20e+01  1.05e+00]
 [ 3.30e+01 -8.00e-01]
 [ 5.60e+01  7.00e-02]
 [ 8.10e+01  1.01e+00]
 [ 1.80e+01 -1.37e+00]
 [ 7.90e+01  9.30e-01]
 [ 4.00e+01 -5.40e-01]
 [ 1.40e+01 -1.52e+00]
 [ 5.00e+01 -1.60e-01]
 [ 8.20e+01  1.05e+00]
 [ 7.40e+01  7.40e-01]
 [ 4.00e+01 -5.40e-01]
 [ 4.30e+01 -4.20e-01]
 [ 3.70e+01 -6.50e-01]
 [ 5.90e+01  1.80e-01]
 [ 5.20e+01 -9.00e-02]
 [ 9.30e+01  1.46e+00]
 [ 5.80e+01  1.40e-01]
 [ 3.90e+01 -5.80e-01]
 [ 5.70e+01  1.00e-01]]

# Exercise 4: Numpy Operations Numpy මෙහෙයුම්

**Question 1:**

Create an integer array containing numbers from 0 to 10. Negate all elements which are between 5 and 8.

0 සිට 10 දක්වා ඇති සංඛ්‍යා සහිත array එකක් සාදාගන්න. 5ත් 8ත් අතර සියලුම සංඛ්‍යා නිශේධනය කරන්න.

**Answer**

In [ ]:
ar = np.arange(11)
print ("Before negation: ", ar)
ar[(ar > 5) & (ar <= 8)] *= -1

print ("After negation elements between 5 and 8: ",ar)

Before negation:  [ 0  1  2  3  4  5  6  7  8  9 10]
After negation elements between 5 and 8:  [ 0  1  2  3  4  5 -6 -7 -8  9 10]

**Question 2:**

Consider a list which contains (name, height, age) in order as follows.

පහත ආකාරයට නම, උස සහ වයස සහිත ලයිස්තුවක් සලකන්න.

```
values = [('Nimal', 1.8, 17), ('Sunil', 1.9, 20), ('Kamal', 1.5, 14)]
```

Sort the array by,
1.   Age
2.   Height
3.   Name

වයසින් උසින් නමින් එම ලයිස්තුව පිළිවෙලින් වර්ග කරන්න.

**Answer**

In [ ]:
values = [('Nimal', 1.8, 15), ('Bimal', 1.9, 20), ('Kamal', 1.5, 16)]
data_type = [('name', 'S10'), ('height', float), ('age', int)]

ar = np.array(values, dtype=data_type)

print("Sorted by Age: ", np.sort(ar, order='age'))
print("Sorted by Height: ", np.sort(ar, order='height'))
print("Sorted by Name: ", np.sort(ar, order='name'))

Sorted by Age:  [(b'Nimal', 1.8, 15) (b'Kamal', 1.5, 16) (b'Bimal', 1.9, 20)]
Sorted by Height:  [(b'Kamal', 1.5, 16) (b'Nimal', 1.8, 15) (b'Bimal', 1.9, 20)]
Sorted by Name:  [(b'Bimal', 1.9, 20) (b'Kamal', 1.5, 16) (b'Nimal', 1.8, 15)]

**Question 03**

Create two matrices of 5 x 5 with random values and find the diagonal of the dot product of the two matrices.

අහඹු අගයන් සහිතව න්‍යාස දෙකක් සාදන්න එහි ගුණිතහි විකර්ණය සොයන්න.

**Answer**

In [ ]:
ar1 = np.random.uniform(0,1,(5,5))
ar2 = np.random.uniform(0,1,(5,5))
 
np.diag(np.dot(ar1, ar2))

array([1.07823497, 1.83638609, 1.2854461 , 1.87389773, 1.05407054])

**Question 04**

Convert the following numpy array of numbers(in the integer format) into a matrix binary representation.

පහත Numpy array එක ද්වීමය න්‍යාස ආකාරයට සකස් කරන්න.

**Answer**

In [ ]:
ar = np.array([0, 1, 2, 3, 15, 16, 32, 64, 128])
ar_binary = ((ar.reshape(-1,1) & (2**np.arange(8))) != 0).astype(int)
print(ar_binary[:,::-1])

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

**Question 05**

Consider a set lines represented by **P0**, another lines by **P1** and set of points p. Calculate the distance from a point **p** to the lines deferred by P1[i],P2[i].

P0 ලෙසින් සලකන සරල රේඛා සමුදායන් සහ තවත් සල්ලි රේඛා සමුදාය සලකන්න. p නම්   බාහිර ලක්ෂයක සිට එක් එක් ඛණ්ඩාංක අත්ර දුර සොයන්න.

```
P1 = [[-6.65234822  7.29407315]
 [-0.39227634  7.46389674]
 [ 5.3972054   3.70579674]
 [-7.71451791  6.72104954]
 [ 3.51601057 -2.89371416]
 [ 4.25237431  4.66922892]
 [ 8.65118668  3.16739356]
 [ 4.8544455  -1.67275607]
 [ 7.49377183 -2.27592545]
 [ 0.39570436  1.18569584]]
```

```
P2 = [[ 9.5042512  -3.29633941]
 [ 2.80450518  5.33171717]
 [-4.77061428  8.75163711]
 [-8.70106348  5.39617521]
 [ 3.06280994  6.88184573]
 [ 9.21677584 -0.06165679]
 [ 2.35533685 -3.0089765 ]
 [-5.08348815  7.6611443 ]
 [ 0.03453605 -2.52238159]
 [ 8.30787282 -0.88402002]]
```

```
P = [[6.67872642 7.88836618]]
```

**Hint:**

The equation of a line defined through two points P1 (x1,y1) and P2 (x2,y2) is

ඉඟිය: ඛණ්ඩාංක දෙකක් අතර සරල රේඛීය දුර සෙවීම්ට පහත සමීකරණය යොදාගන්න.

P = P1 + u (P2 - P1)

![distance (1).png]()

**Answer**

The point P3 (x3,y3) is closest to the line at the tangent to the line which passes through P3, that is, the dot product of the tangent and line is 0, thus

P3 ඛණ්ඩාංකය සරල රේඛාවට ලම්බකව ඇති බැවින් සරල රේඛාව සහ ලම්බකය අතර  තිත් ගුණිතය 0 වේ.

(P3 - P) dot (P2 - P1) = 0

Substituting the equation of the line gives

සරල රේඛාවේ සමීකරණයය ආදේශ කිරීමෙන්,

[P3 - P1 - u(P2 - P1)] dot (P2 - P1) = 0

Solving this gives the value of u

u හි අගය පහත ආකාරයට ලබාගගත හැක.

![pointline2.gif]()

Substituting this into the equation of the line gives the point of intersection (x,y) of the tangent as

ලම්බකය සහ සරල රේඛාව ඡේදනය වන ලක්ෂයේ   ඛණ්ඩාංක පහත ආකාරයට ලබාගත හැක.

x = x1 + u (x2 - x1)
y = y1 + u (y2 - y1)

The distance therefore between the point P3 and the line is the distance between (x,y) above and P3.

එම නිසා P3 ලක්ෂ සහ සරල රේඛාව අතර දුර (x,y) සහ P3 අතර දුර වේ.

In [ ]:
P1 = np.stack([[-6.65234822 , 7.29407315],[-0.39227634 , 7.46389674],[ 5.3972054  , 3.70579674],[-7.71451791,  6.72104954],[ 3.51601057, -2.89371416],
      [ 4.25237431 , 4.66922892], [ 8.65118668 , 3.16739356], [ 4.8544455 , -1.67275607], [ 7.49377183, -2.27592545], [ 0.39570436,  1.18569584]])

P2 = np.stack([[ 9.5042512 , -3.29633941],[ 2.80450518 , 5.33171717],[-4.77061428 , 8.75163711],[-8.70106348,  5.39617521],[ 3.06280994,  6.88184573],
      [ 9.21677584 ,-0.06165679], [ 2.35533685 ,-3.0089765 ], [-5.08348815, 7.6611443 ], [ 0.03453605, -2.52238159], [ 8.30787282, -0.88402002]])

p = np.array([[6.67872642 ,7.88836618]])

point_distance = P2 - P1
norm = (point_distance**2).sum(axis=1)

u =  -((P1[:,0] - p[...,0]) * point_distance[:,0] + (P1[:,1] - p[...,1]) * point_distance[:,1] ) / norm

u = u.reshape(len(u),1)
distance = P1 + u*point_distance - p
distance = np.sqrt((distance**2).sum(axis=1))

print(distance)

[ 7.80525085  4.2766795   4.31627071 10.84709522  3.65864969  4.00430445
  4.75137178  8.21812951 10.18566289  8.07453453]

# Exercise Set 2 - Image processing with NumPy NumPy මගින් රූපමය සැකසුම

Various image processing can be performed using NumPy functions by reading the image as a NumPy array.

රූපය (image), NumPy array ලෙස ගැනීමෙන් විවිධ රූප සැකසුම් සිදුකිරීමට NumPy library භාවිත කල හැකිය.

## Following information will be useful to understand the applciation of NumPy in image processing

Images are compiled using pixels, or tiny dots, containing unique colour and tonal information that come together to create the image.

පින්තුර සැදී ඇත්තේ පික්සල (pixel) හෙවත් කුඩා තිත් වලිනි. මෙම pixel වල රූපය නිර්මාණය කිරීම අවශ්‍ය වන වර්ණ සහ tone (එලිය, අඳුර, වර්ණ විචලනය) පිලිබඳ තොරතුරු අඩංගු වේ.

Look at the following example.
පහත උදාහරණය බලන්න.

This is a 6x4 pixel RGB image.

පහත දැක්වෙන්නේ 6 x 4 pixel පින්තුරයකි.

<img src='https://drive.google.com/uc?id=1a4THRiwHXIPsgaGMRzDp-xiClwCeA5F4' width="300" height="200">

*   This image contains 4 lines of pixels. 
    
    මෙම රූපය pixel පේලි 4කින් සමන්විතය.

<img src='https://drive.google.com/uc?id=1aWt9_KnRpKHnntpFYoxJQmv9TcR66zzo' width="300" height="200">

*   Each line of pixels contains 6 pixels.

    සෑම pixel පේලියක්ම pixels 6කින් සමන්විතය. 

<img src='https://drive.google.com/uc?id=1kc7shJwjLpBHkza4_JblWBcKO2cGwAFH' width="300" height="80">

*   Each pixel contains 3 bytes (representing the red, green and blue values of the pixel colour).

    සෑම pixel එකකම bytes 3ක් ඇත. ඒවායින් pixel එකෙහි වර්ණයේ රතු, කොළ, සහ නිල් වර්ණ සංයුතීන් නිරුපණය වේ.

<img src='https://drive.google.com/uc?id=17IVXNvdd3kapiNc-ciEtPsqOIEG29leq' width="120" height="60">

Therefore, RGB images are usually stored as 3-dimensional arrays and the shape of the array **height x width x 3**.

එමනිසා RGB පින්තුර මාන 3ක arrays වල ගබඩා කරනු ලැබේ. එම arrays වල හැඩය **උස x පළල x 3** වේ.

Here is how we create an array to represent a 6x4 pixel RGB image.

පහතින් දැක්වෙන්නේ 6x4 pixel RGB පින්තුරයක් නිරුපණය කිරීමට array එකක් නිර්මාණය කරන ආකාරයයි.

In [1]:
import numpy as np

width = 5
height = 4

array = np.zeros([height, width, 3], dtype=np.uint8)

 
**Note:**

The data is ordered by lines, pixels for each line, and then 3-byte values for RGB (pixel details). Therefore, the first dimension is the height, and the second dimension is the width. 

array එක නිර්මාණයේදී මුලින් පින්තුරයේ ඇති pixel පේලි ගණනද දෙවනුව එක පේළියක ඇති pixels ගණනද අවසානයේ RGB සංයුතීන් නිරුපණයට byte 3ක් ද ලබා දිය යුතුය.

##Import required libraries

In [2]:
from PIL import Image #Python Imaging Library
import numpy as np

## Download the dataset

Let's download the necessary datasets to your working environment.

අවශ්‍ය දත්ත කට්ටල බාගත කරමු.

In [3]:
from urllib.request import urlopen   

URL = 'https://raw.githubusercontent.com/GPrathap/pythonII/master/dataset/cats/cat_00/00000002_001.jpg?raw=true'
url = urlopen(URL)
output_img = open('/content/sample_data/cat.jpg', 'wb')    # note the flag:  "wb"        
output_img.write(url.read())
output_img.close()

##Let's start the exercise

###Read the image file as NumPy array

පින්තූර ගොනුව NumPy අරාව ලෙස ලබා ගනිමු.

Original image:

මුල් රූපය:

<img src='https://drive.google.com/uc?id=18k1JMNFypRODuEgeqpMX_M1jhh0_zP2R' width="300" height="250">

In [4]:
image_file='/content/sample_data/cat.jpg'
img_array = np.array(Image.open(image_file))

Let's look at the data type and the shape of the array.

We used **dtype** and **shape** attributes to find the data type and the shape of the array respectively.

අපි බලමු data type එක සහ array එකේ හැඩය.

In [5]:
#data type 
print(img_array.dtype)
#shape
print(img_array.shape)

uint8
(768, 1024, 3)

According to the above results, this array is a **3-dimentional** array with **uint8** data type. The array has 768 rows and 1024 columns. This implies that the image has 768 pixel lines and 1024 pixels for each line.

**Note:**
uint8 is an 8-bit unsigned integer (range: 0 through 255 decimal).

නිර්මාණය කරගත් numpy array එකෙහි පේළි 768 සහ තීර 1024ක් ඇත. ඒ අනුව මෙම රුපයේ 768 pixel lines සහ එක pixel  line  එකක 1024 pixels  ඇත.

###Get and set (change) pixel values
pixel අගයන් ලබාගැනීම සහ සැකසීම (වෙනස් කිරීම)

You can get the value of a pixel by specifying the coordinates at the index [row, column] of array.

NumPy array එකෙහි [පේළිය, තීරුව] ඛණ්ඩාංක නියම කිරීමෙන් ඔබට අදාළ pixel එකෙහි අගය ලබා ගත හැක.

In [6]:
print(img_array[100, 200])

[68 58 57]

The 200th pixel in the 100th line has intensity values of 68, 58 and 57 for red, green, and blue respectively.

100 වැනි පේළියේ 200 වැනි pixel එකෙහි රතු, කොළ සහ නිල් තීව්‍රතාවන් පිළිවෙලින් 68, 58 සහ 57 අගයන් වේ.

You can also assign RGB values of a specific pixel to separate variables.

ඔබට අදාළ pixel එකෙහි රතු, කොළ සහ නිල් තීව්‍රතා අගයන් වෙන වෙනම විචල්‍යයන්වලට ආදේශ කල හැකිය.

In [7]:
red, green, blue = img_array[100, 200]

print("Red intensity: ",red)
print("Green intensity: ",green)
print("Blue intensity: ",blue)

Red intensity:  68
Green intensity:  58
Blue intensity:  57

It is also possible to get the value by specifying the color.

pixel එකෙහි ඔබට අවශ්‍ය වර්ණයේ තිව්‍රතා අහය වුවද ලබා ගත හැකිය. ඒ සඳහා වර්ණයට අදාල index  එක ලබා දිය යුතුය.

In [8]:
print("Red intensity: ",img_array[100, 200, 0])
print("Green intensity: ",img_array[100, 200, 1])
print("Blue intensity: ",img_array[100, 200, 2])

Red intensity:  68
Green intensity:  58
Blue intensity:  57

You can also change pixel value to a new value. 

ඔබට pixel අගය නව අගයකට ද වෙනස් කළ හැක.

You can change RGB all at once or change a single color you want to change.

ඔබට එකවර RGB වෙනස් කිරීමට හෝ ඔබට වෙනස් කිරීමට අවශ්‍ය තනි වර්ණයක් වෙනස් කිරීමට හැකිය.

In [9]:
#change the entire pixel value
img_array[100, 200] = (0, 50, 100)
print(img_array[100, 200])

[  0  50 100]

Now the value of the pixel is not [68 58 57]. It is [  0  50 100].

දැන් pixel එකෙහි අගය [68 58 57] නොවේ. එය [0 50 100] වේ.

In [10]:
#change only the red intensity
img_array[100, 200,0] = 120
print(img_array[100, 200])

[120  50 100]

Since we changed the red intensity, the new value of the pixel is [120  50 100].

අපි රතු තීව්‍රතාවය වෙනස් කළ නිසා, pixel එකෙහි නව අගය [120 50 100] වේ.

###Let's change the image to single color image

රූපය තනි වර්ණ රූපයකට වෙනස් කරමු

You can generate single-color images by setting other color values to 0.
ඔබට අවශ්‍ය වර්ණය හැර අනෙකුත් වර්ණ අගයන් 0 ලෙස සැකසීමෙන් ඔබට තනි වර්ණ රූප ජනනය කළ හැක.

eg.: To convert the image into red color image, we set green and blue intensity values of each pixel to 0.

උදා: රූපය රතු වර්ණ රූපයක් බවට පරිවර්තනය කිරීම සඳහා, අපි එක් එක් පික්සලයේ කොළ සහ නිල් තීව්‍රතා අගයන් 0 ලෙස සකසමු.


*   We used **copy()** function to make a copy of a orginal array to avoid changes in the original numpy array.

  මුල් numpy array හි වෙනස්කම් වලක්වා ගැනීම සඳහා මුල් array එකෙහි  පිටපතක් සෑදීමට අපි **copy()** ශ්‍රිතය භාවිතා කරමු.

*   Let's look at the **img_R[:, :, (1, 2)] = 0**

  To convert the image to red-color image, we need to set the green and blue intensity values of **each pixel** to 0. In Numpy, you can use **colon (:)** which means **fetch everything**. 
  
  රූපය රතු-වර්ණ රූපයක් බවට පරිවර්තනය කිරීම සඳහා, අපි එක් එක් pixel එකහි කොළ සහ නිල් තීව්‍රතා අගයන් 0 ලෙස සැකසිය යුතුයි. Numpy හි, ඔබට colon (:) භාවිතා කළ හැක, එනම් සියල්ල ලබාගන්න අර්ථයයි.

  img_R[:, :] means every rows and columns in the numpy array. In other words every pixel in the image.

  img_R[:, :] යනු numpy අර්රය් එකෙහි සෑම පේළියක්ම සහ තීරුවක්ම වේ. එනම් රූපයේ ඇති සෑම pixel  එකක් යන්නයි.
  
  Then, we have to add the index of the color we want to change. If we use **img_R[:, :, 1] = 0** , this only changes the green intensity of all the pixels to 0. We will need another **img_R[:, :, 2] = 0** to change the blue intesities. When you use **img_R[:, :, (1, 2)]**, you can change both green and blue intensity values at once.

  ඉන්පසුව, අපට වෙනස් කිරීමට අවශ්‍ය වර්ණයෙහි index එක සඳහන් කළ යුතුය. අපි **img_R[:, :, 1] = 0** භාවිතා කරන්නේ නම්, මෙය සියලු පික්සල වල කොළ වර්ණයේ තීව්‍රතාවය පමණක්  0 ලෙස වෙනස් කරයි. නමුත් නිල්  වර්ණයේ තීව්‍රතාවයද 0 ලෙස වෙනස් කල යුතුය. ඒ සඳහා **img_R[:, :, 2] = 0** ලෙසද ලිවිය යුතුය. නමුත් **img_R[:, :, (1,2)] = 0** ලෙස සඳහන් කිරීමෙන් කොළ සහ නිල් වර්ණ තීව්‍රතාවයන්  දෙකම එකවර වෙනස් කරගත හැකිය.

In [11]:
#red color image 
img_R = img_array.copy()
#set green and blue intensity values of each pixel to 0.
img_R[:, :, (1, 2)] = 0

#green color image 
img_G = img_array.copy()
#set red and blue intensity values of each pixel to 0.
img_G[:, :, (0, 2)] = 0

#blue color image
img_B = img_array.copy()
#set red and green intensity values of each pixel to 0.
img_B[:, :, (0, 1)] = 0

#to create a single image
concatenated_imgArray = np.concatenate((img_R, img_G, img_B), axis=1)

#save NumPy array as image file
pil_img = Image.fromarray(concatenated_imgArray)
pil_img.save('/content/sample_data/single_color_images.jpg')

Output:

<img src='https://drive.google.com/uc?id=1pSRnMgHoMmcwN6JJvlWAVcmHr-_tuYAn' width="600" height="160">

**Note:**

*   **np.concatenate()** a function from the NumPy package which combines NumPy arrays together.

  np.concatenate() NumPy අරාවන් එකට එකතු කරන NumPy පැකේජයේ ශ්‍රිතයකි.

<img src='https://drive.google.com/uc?id=1w1aCI4R15pdhpkyBuuWc6TO58xgKCjBQ' width="300" height="200">

Here we horizontally concatenated the three numpy arrays of single-color images with **np.concatenate()** to create a single image.

මෙහිදී අපි තනි රූපයක් නිර්මාණය කිරීම සඳහා **np.concatenate()** සමඟ තනි-වර්ණ රූපවල අංකිත අරා තුන තිරස් අතට ඒකාබද්ධ කරමු .

###Generate negative-positive inverted images (invert pixel value)

You can generate negative-positive inverted image by subtracting the pixel value from the maximum value.

ඔබට pixel අගයන් උපරිම අගයෙන් අඩු කිරීමෙන් සෘණ-ධනාත්මක ප්‍රතිලෝම රූපය ලබා ගත හැක.

As mentioned above, the data type of the array is uint8 and the maximum value of uint8 data type is 255. Therefore, we have to subtract the pixel values from 255.

ඉහත සඳහන් කළ පරිදි, array එකෙහි data type එක uint8 වන අතර uint8 දත්ත වර්ගයෙහි උපරිම අගය 255 වේ. 
ඒ නිසා අපිට pixel වල අගයන් 255න් අඩු කරන්න සිදුවේ.

In [12]:
img_inverted = 255 - img_array

#save NumPy array as image file
pil_img = Image.fromarray(img_inverted)
pil_img.save('/content/sample_data/inverted_image.jpg')

Output:

<img src='https://drive.google.com/uc?id=1g1Jde_UGSfIBKCDCV9nY0whVVD-ezs0n' width="300" height="250">

###Trim the image using array slicing

array slicing භාවිතයෙන් රූප කොටස් ලබා ගැනීම

You can use **array slicing** to trim the image to a rectangle. 

You need to specify an area with slice.

රූපය සෘජුකෝණාස්‍රයකට කැපීමට ඔබට array slicing භාවිත කළ හැක. ඒ සඳහා ඔබට අවශ්‍ය පේලි සහ තීර සිමාවන් ලබාදිය යුතුය.

In [13]:
img_trimmed = img_array[400:660, 330:650]
print("Shape of the orginial image", img_array.shape)
print("Shape of the trimmed image",img_trimmed.shape)

#save NumPy array as image file
pil_img = Image.fromarray(img_trimmed)
pil_img.save('/content/sample_data/trimmed_image.jpg')

Shape of the orginial image (768, 1024, 3)
Shape of the trimmed image (260, 320, 3)

Output:

<img src='https://drive.google.com/uc?id=1LtuXPOJ60X4h3wPsmpwpGUBqKL9Up-Jh' width="300" height="250">